@charset "UTF-8";


@font-face {
  font-family: myFirstFont;
  src: url(proxima nova.otf);
}

body{
   font-family: "myFirstFont",  Sans-serif;
   margin-left:25px;
   margin-right: 25px; 
   background-color: #ffff;
   height: 100%;
  
}
.header{
 position: relative;
 top:12px; 
}
.category{
  position: absolute;
  
}
.category img {
   border-radius: 20%;
}
.basket{
    position: absolute;
    left:340px;
}
.models{
  position: relative;
  height: 170px;
  top:90px;
  
}
.background-text{
  position: flex;
  left:20px;
  font-size: 165px;
  color:#FEEBED;
  font-weight:700;
  opacity: 0.8;
  z-index: -1;
}
.first-roundbox{
  position: absolute;
  height: 65px;
  width: 145px;
  background-color: #ffff;
  left:20px;
  top: 90px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px 5px 10px rgba(217,217,217,0.42);

}
.first-roundbox-image{
  position: absolute;
  top:16px;
  left: 15px;
}
.first-roundbox-label{
  position: absolute;
  left:60px;
  top: 23px;
  font-size: 19px;
  color:black;
  font-weight:700;
}
.second-roundbox{
  position: absolute;
  height: 65px;
  width: 145px;
  background-color: #ffff;
  left:205px;
  top: 90px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px 5px 10px rgba(217,217,217,0.42);

}
.second-roundbox-image{
  position: absolute;
  top:16px;
  left: 15px;
}
.second-roundbox-label{
  position: absolute;
  left:60px;
  top: 23px;
  font-size: 19px;
  color:black;
  font-weight:700;
}
.firstimage-section{
  position: relative;
  height: 340px;
  width: 315px;
  top: 150px;
  left:25px;
  background-color: rgba(170,228,229,0.6);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px 67px 36px -43px rgba(217,217,217,0.42);
}
.blueimage{
  position: absolute;
  top:35px;
  left:20px;
  z-index: 0;
}

.heart-icon{
  position: absolute;
  top:-20px;
  left:277px;

}.oval-shadow{
  position: absolute;
  left: 100px;
  top: 230px;
  width: 130px;
  height: 50px;
  background: rgba(169,169,169,0.4);
  filter:blur(9px);
  border-radius: 100px / 50px;  
  z-index: -1;
}
.secondimage-section{
  position: relative;
  height: 340px;
  width: 315px;
  top: 200px;
  left:25px;
  background-color: #FF7AA7;
  background-color: rgba(255,122,167,0.6);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.pinkimage{
  position: absolute;
  top:35px;
  left:20px;
  z-index:0;
}
.oval-shadow2{
  position: absolute;
  left: 100px;
  top: 230px;
  width: 130px;
  height: 50px;
  background: rgba(100,91,93,0.2);
  filter:blur(9px);
  border-radius: 100px / 50px;  
  z-index: -1;
}
/*Expanded image */
.expanded-image-section{
  display: none;
  position: absolute;
  height: 890px;
  width: 315px;
  top: 130px;
  left:0px;
  width: 100%;
  z-index:0;
  background-color: rgba(170,228,229);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px -57px 36px -43px rgba(217,217,217,0.42);
  -webkit-animation: slideintop .7s ease-in-out forwards;
          animation: slideintop .7s ease-in-out forwards;

}

.hideanimer{
 -webkit-animation: slideintop .7s ease-in-out backwards;
          animation: slideintop .7s ease-in-out backwards;
}


.white-line-position{
position: absolute;
top:15px;
left:160px;


}
hr.white-line-svg{
  border: 2.5px solid rgba(255,255,255);;
  width: 75px;
  color: white;
  box-shadow: 0px 0px 15px 1px rgba(166,166,166,0.47);
  border-radius: 8px;
}

.expanded-image{
  position: absolute;
  top:95px;
  left:60px;
  z-index: 0;
}
.expanded-oval-shadow{
  position: absolute;
  left: 160px;
  top: 340px;
  width: 130px;
  height: 50px;
  background: rgba(169,169,169,0.4);
  filter:blur(9px);
  border-radius: 100px / 50px;  
  z-index: -1;
}
.three-boxes{
  position: absolute;
  top:420px;
 
}
.box1{
  position: absolute;
  left:30px;
  fill:transparent;
  stroke:white;
  stroke-width:2;
  stroke-opacity:0.8;
}
.box2{
  position: absolute;
  left:70px;
  fill:#ff8396;
  fill-opacity:0.9;
  
}
.box3{
  position: absolute;
  left:110px;
  fill:#8ae033;
  fill-opacity:0.8;
}
.title-section-expanded{
  position: absolute;
  top:470px;
  left:30px;
}
.main-title{
font-size: 32px;
font-weight:700;
}
.sub-title{
  position: absolute;
  top:45px;
  font-size: 24px;

}
.anounce{
position: absolute;
top:95px;
width:340px;
color: white;
word-spacing: 3px;
font-size:17px;
}

.example-images{
  position:absolute;
  height: 100px;
  width: 100%;
  top: 635px;
  
}
.background-example1{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0px;
  left: 30px;
  background-color: white;
  border-radius: 20px;
}
.image-background-example1{
  position: absolute;
  top: 20px;
  left:10px;
}

.background-example2{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0px;
  left: 150px;
  background-color: white;
  border-radius: 20px;
}
.image-background-example2{
  position: absolute;
  top: 20px;
  left:10px;
}

.background-example3{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0px;
  left: 270px;
  background-color: white;
  border-radius: 20px;
}
.image-background-example3{
  position: absolute;
  top: 20px;
  left:13px;
  
}

@-webkit-keyframes slideintop {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes hideanime {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}


