@charset "UTF-8";


body{
	background:#ffffff;
	padding:15px 0 0 0;
}

/* Responsive 
@media screen and (min-width:024px) and(max-width: 2002px) {
  body {
    background-color:#a9a9a9;
    margin:px;
   */

.titleFuture{
  font-family: 'Courier New';
  font-style:normal;
  font-size:21px;
  margin-left: 50%; 
  
}

.toGallery{

  position: fixed;
  bottom: 0;


}
.button{
  background-color: #6A88C2; 
  font-family: 'Courier New';
  border: none;
  border-radius: 50px;
  color: white;
  height: 90px;
  width: 90px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin-left: 154px;
  
}


header input :: -webkit-input-placeholder {
	color:rgba(255,255,255,0.75);
}
header input : -moz-input-placeholder {
	color:rgba(255,255,255,0.75);
}
header input :: -moz-input-placeholder {
	color:rgba(255,255,255,0.75);
}
header input : -ms-input-placeholder {
	color:rgba(255,255,255,0.75);
}

