@charset "UTF-8";


body{
	background:#ffffff;
	padding:15px 0 0 0;
}
header {
		padding-bottom: 30px;

}
header h1{

  text-align: center;
}
main{
  margin-top:30px;
}

.titlePresent{
  font-family: 'Courier New';
  font-style:normal;
  font-size:21px;
  margin-left: 47%; 
  
}

.vertLeft{
  height: 355px;
  border-color: black;
  border-width:1px;
  border-style: solid;
  position: absolute;
  margin-left: 50px;
  margin-top: 1px;
  border-radius: 10px;
}
.horLeft{
  width:250px;
  border-color: black;
  border-width:1px;
  border-style: solid;
  margin-top: 0px;
  margin-left: 50px;
  border-radius: 10px;
}
.vertRight{
  height: 355px;
  border-color: black;
  border-width:1px;
  border-style: solid;
  position: absolute;
  margin-left: 350px;
  margin-top: 45px;
  border-radius: 10px;
}
.horRight{
  width:250px;
  border-color: black;
  border-width:1px;
  border-style: solid;
  margin-top: 400px;
  margin-left: 100px;
  border-radius: 10px;
}
.lines{
  
  z-index: -1;
}
.Quoteimg{
  position: absolute;
  margin-left: 310px;
  margin-top: -10px;
}
.Quoteimg2{
  position: absolute;
  margin-left: 30px;
  margin-top: 372px;
}
.QuoteText{
  position: absolute;
  width: 230px;
  height: 300px;
  margin-left: 95px;
  margin-top: 60px;
   font-family: 'Apercu';
  font-weight: 500;
  font-size:23px;
  letter-spacing: 4px;
  word-spacing: 15px;
  text-align: left;
  line-height: 1.7;

}




.toGallery{

  position: fixed;
  bottom: 0;


}
.button{
  background-color: #6A88C2; 
  font-family: 'Courier New';
  border: none;
  border-radius: 50px;
  color: white;
  height: 90px;
  width: 90px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin-left: 154px;
  
}


.disabled {
    pointer-events: none;
}

.countersection{

	margin-top:20px;
	position: absolute;
}