@charset "UTF-8";


@font-face {
  font-family: myFirstFont;
  src: url(proxima nova.otf);
}

body{
   font-family: "myFirstFont",  Sans-serif;
   margin-left:25px;
   margin-right: 25px; 
   background-color: #FBFBFB;
   height: 896px;
   margin-top:30px;
   position: relative;
  
}
.header{
	position: relative;

}
.date{
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	color: #131212;

}
.month{
	position: relative;
	font-size: 14px;
	left:50px;
	top:8px;
	width: 80px;
	color: #A5A6AF;
}
.navigation{
	position: absolute;
	left:280px;
	top:10px;
	
	
}
.profile{
position: absolute;
	left:320px;
	top:0px;	
}

.main{
	position: relative;
	top:90px;
}
.title{
	position: absolute;
	top: 0px;
	font-size: 24px;
	font-weight: bold

}
.viewall{
	position: absolute;
	left: 297px;
	top: 7px;
	font-size: 14px;
	color: #F6C12D;
}
.firstimage{
	position: absolute;
	top: 50px;
	
}
.muscleimage{
	position: absolute;
	left: -3px;
}
.imgtitle{
	position: absolute;
	top: 250px;
	font-size: 21px;
	font-weight: bold;
}
.imgsub{
	position: relative;
	top: 280px;
	font-size: 16px;
	color: #A5A6AF;
}
.secondimage{
	position: absolute;
	top:50px;
	left:210px;
}
.dominicana{
	position: absolute;
	left:-3px;
}
.imgtitledomi{
	position: absolute;
	top: 250px;
	font-size: 21px;
	font-weight: bold;
}
.imgsubdomi{
	position: relative;
	top: 280px;
	font-size: 16px;
	color: #A5A6AF;
}
.mybooks{
	position: relative;
	height: 260px;
	left:-25px;
	width: 414px;
	font-weight: 360px;
	background-color: #fff;
	top: 500px;
	border-radius: 45px;
	box-shadow: 0px -11px 20px 1px rgba(217,217,217,0.7);

}
.mybookstitle{
	position: absolute;
	top:30px;
	left: 25px;
	font-size: 24px;
	font-weight: bold
}
.minimize{
	position: absolute;
	top:15px;
	left: 197px;
	height:4px;
	width: 30px;
	border-radius: 3px;
	background-color: #A5A6AF;
	box-shadow: 0px -11px 20px 1px rgba(217,217,217,0.7);


}
.booktitle{
	position: absolute;
	top: 90px;
	left:150px;
	font-size: 18px;
	font-weight: bold;


}
.booksub{
	position: absolute;
	top: 125px;
	left:150px;
	font-size: 16px;
	color: #A5A6AF;
}
.imageimg{
	position: absolute;
	top: 80px;
	left:35px;
}
.returndate{
	top:180px;
	position:absolute;
	left: 150px;
	color: #F6C12D;
}

.returndate::before {
  content:"";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #F1F1F1 ;
  border-radius:  1000px;
}

.returndate::after{
  content:"";
  position: absolute;
  top: calc(100% + 10px);
  left: 00px;
  width: 60%;
  height: 7px;
  background-color: #F6C12D;
  border-radius:  1000px;
}

.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 414px;
   height: 150px;
   background-color: black;
   color: white;
   text-align: center;
   z-index: -1;
}

.homeicon{
	position: absolute;
	height:30px;
	width: 30px;
	top: 90px;
	left:30px;
}
.searchicon{
	position: absolute;
	height:30px;
	width: 30px;
	top: 90px;
	left:140px;
}
.libraryicon{
	position: absolute;
	height:30px;
	width: 30px;
	top: 90px;
	left:250px;
}
.carticon{
	position: absolute;
	height:30px;
	width: 30px;
	top: 87px;
	left:360px;
}