@charset "UTF-8";


@font-face {
  font-family: myFirstFont;
  src: url(proxima nova.otf);
}

body{
  font-family: "myFirstFont",  serif;
  margin-left:25px;
  margin-right: 25px;
  background-color: #F9F7F4;

}


/* Section position - relative, child position - absolute*/


/*Секция с хедъра + бутончето в дясно (weekly)*/

.header{
  margin-top: 20px;
  position: relative;
  height: 40px;

  
}
.title-header{
  font-size:32px;
  font-weight: bold;
}
.weekly-roundbox{
  position: absolute;
  top:8px;
  text-align: center;
  left: 265px;
  height: 25px;
  width: 100px;
  background-color: white;
  border-radius: 15px;
}
.label-roundbox-weekly{
  margin-top:5px;
  color:#BDBDBD;
}

/* Секцията с картинката yoga challenge */

.yoga-section{
  margin-top: 40px;
  background: white;
  height: 340px;
  width: 365px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 20px 40px rgba(184,184,184,0.25);

}
.lady-image{
  position: absolute;
  top: 100px;
  left: 0px;
}
.title-challenge{
  position: absolute;
  top:150px;
  left:220px;
  font-size:19px;
  font-weight: bold;
 
}
#numbcoler{
  color:#BDBDBD;
  
}
.days{
  position: absolute;
  top:180px;
  left:305px;
  font-weight: bold;
  font-size:28px;

}
.time-lady{
  position: absolute;
  top:420px;
  left:40px;
  font-size: 20px;
  color: #545454;

}
.yoga-roundbox{
   position: absolute;
  top:420px;
  text-align: center;
  left: 290px;
  height: 25px;
  width: 80px;
  background-color: #F9F7F4;
  border-radius: 15px;
}

.label-roundbox-lady{
  padding-top: 4px;
  color:#545454;
}

/* Секцията с Upcoming healthy cooking and creative growth */

.upcoming-title{
  margin-top:30px;
  font-size: 19px;
  font-weight: bold;
  
}
.cooking-section{
  position: relative;
  margin-top: 15px;
  background: white;
  height: 90px;
  width: 365px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
   box-shadow: 0px 20px 40px rgba(184,184,184,0.25);
}
.title-cooking{
  position: absolute;
  top: 20px;
  left: 90px;
  font-size: 18px;
  font-weight: bold;
}
.cooking-image{
  position: absolute;
  top: 20px;
  left:20px;
}
.time-cooking{
  position: absolute;
  top: 45px;
  left:90px;
}
.cooking-roundbox{
  position: relative;
  top:28px;
  text-align: center;
  left: 265px;
  height: 25px;
  width: 80px;
  background-color: #F9F7F4;
  border-radius: 15px;
}
.label-roundbox-cooking{
  padding-top: 4px;
  color:#545454;
}

/* Creative секцията */

.creative-section{
  position: relative;
  background: white;
  margin-top: 25px;
  height: 135px;
  width:365px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
   box-shadow: 0px 20px 40px rgba(184,184,184,0.25);
}
.title-creative{
  position: absolute;
  top: 20px;
  left: 90px;
  font-size: 18px;
  font-weight: bold;
}
.creative-image{
  position: absolute;
  top: 20px;
  left:20px;
}
.time-creative{
  position: absolute;
  top: 45px;
  left:90px;
}
.bullets{
   position: absolute;
  top: 80px;
  left:38px;
}
.bullet1-title{
  position: absolute;
  top: 77px;
  left:58px;
  font-size: 16px;
  color: #BDBDBD;
}
.bullet2-title{
  position: absolute;
  top: 103px;
  left:58px;
  font-size: 16px;
  color: #BDBDBD;
}
.creative-roundbox{
  position: relative;
  top:75px;
  text-align: center;
  left: 265px;
  height: 25px;
  width: 80px;
  background-color: #F9F7F4;
  border-radius: 15px;
}
.label-roundbox-creative{
  padding-top: 4px;
  color:#545454;
}

/* Footer */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 390px;
  background-color: white;
  height: 64px;
  border-top-right-radius: 25px;
   box-shadow: 0px 20px 40px rgba(184,184,184,0.25);

}
.home-image{
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  left:40px;
}
.chart-image{
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  left:110px;
}

.add-image{
  position: absolute;
   padding-top: 15px;
  
  left:180px;
}
.heart-image{
  position: absolute;
   padding-top: 20px;
  padding-bottom: 20px;
  left:250px;
}
.person-image{
  position: absolute;
   padding-top: 20px;
  padding-bottom: 20px;
  left: 320px;
}




