@charset "UTF-8";


body{
	background:#ffffff;
	padding:65px 0 0 0;
}


header {
	width:32%;
	height: 85px;
	position: fixed;
	top:0;
	left:0;
	z-index:5;
	padding: 0px  0px 15px;
	background:#FFAED1;
	opacity: 0.5;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px; 
}
.headerimage{
	margin-top: -40px;
	position: absolute;
	right: 1%;
}


header input :: -webkit-input-placeholder {
	color:rgba(255,255,255,0.75);
}
header input : -moz-input-placeholder {
	color:rgba(255,255,255,0.75);
}
header input :: -moz-input-placeholder {
	color:rgba(255,255,255,0.75);
}
header input : -ms-input-placeholder {
	color:rgba(255,255,255,0.75);
}

ul.todo{
	width: 90%;
	list-style-type: none; 
	padding-left: 5%;
	font-size:21px;
	color:#fff;

}

#parentsvg{
	position: absolute;
	margin-top: 30px;
	margin-left:-50px;
}


#secondsvg{
	position: absolute;
	margin-top: 30px;
	margin-left: -40px;
}

#thirdsvg{
	position: absolute;
	margin-top: -70px;
	margin-left: 50px;
}



ul.todo li{
	font-family: 'Courier New';
	font-weight:normal;
	font-style:normal;
	width: 100%;
	height:60px;
	background:#52515D;
	opacity: 0.55;
	font-weight: 700;	
	line-height: 22px;
	border-radius:15px;
	position: relative;
	box-shadow: 0px 10px 7px rgba(237,243,234,0.30);
	margin: 0 0 30px 0;
	box-sizing: border-box;
	padding: 20px 100px 70px 60px;

	}

ul.todo li:last-of-type{
	margin:0;

	}
.container {
	width: 100%;
	float: left;
	padding:200px 2px 5px 2px;
}
p {
	font-family: 'Courier New';
	font-weight:normal;
	font-style:normal;
	font-size:19px;
	color:#444;
	position: relative;
	padding-left: 10%;
	padding-top: 40px;
	font-weight: 600;
	margin-bottom: 0px;
}
/* Slider Css */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #C84A60;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f3212d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.butonche{
	position: absolute;
	padding-left: 75%;
	margin-top: -30px;
}


